

services:
  db:
    image: postgres:14.3
    restart: always
    environment:
      POSTGRES_USER: teslo_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - ./postgres:/var/lib/postgresql/data
    container_name: teslodb